<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alquiler</title>
    <link rel="stylesheet" href="/stylesheets/alquiler.css">
</head>
<body>

    <%- include('../partials/header') %>

    <h1>ALQUILER</h1>

    <div class="buscador">
        <form method="GET" action="/search">
            <input type="text" placeholder="¿Qué está buscando?" name="query" >
            <button href="" type="submit" >Buscar</button>
        </div>
        </form>
    </div>

    <section class="card-container"> 

        <% if(propiedades != undefined){ %>
        <% for (let i = 0; i < propiedades.length; i++){ %>
        <a class="card" href="/propiedad/<%=propiedades[i].id%>">
            <h2><%= propiedades[i].nombre %></</h2>
            <img src="/images/interior1.jpg" alt="">
            <p>
                <%= propiedades[i].descripcion %>
            </p>
            <h3>$<%= propiedades[i].precio %></h3>
        </a>
        <% } %>
        <% } %>


    <%- include('../partials/footer') %>
</body>
</html>