<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar</title>
    <link rel="stylesheet" href="/stylesheets/editar.css">
</head>
<body>

    <header>
        <img src="/images/logoinmo.png" alt="">
        <p>Hola, administrador</p>
    </header>

    <section class="producto">
        <div class="imagenes">
            <form>     
                <input type="file" id="imagenes" name="imagenes" multiple accept="image/*" max="10">
            </form>

        </div>
        <div>
                <form method="POST" enctype="multipart/form-data">
                    <div>
                      <label for="titulo">Título:</label>
                      <input type="text" id="titulo" name="titulo" value="<%=propiedad.nombre%>" placeholder="<%=propiedad.nombre%>">
                    </div>
                    <div>
                    
                      <label for="tipo">Tipo:</label>
                      <select id="tipo" name="tipo" required>
                        <% for ( let i = 0; i < tipos.length; i++) { %>
                          <% if (tipos[i].id == propiedad.tipo_id) { %>
                              <option value="<%=tipos[i].id%>" selected>
                                  <%=tipos[i].nombre%>
                              </option>
                          <% } else { %> 
                          <option value="<%=tipos[i].id%>">
                              <%=tipos[i].nombre%>
                          </option>
                          <% } %>
                        <% } %>
                      </select>
                    </div>
                    <div>
                      <label for="contrato">Contrato:</label>
                      <select id="contrato" name="contrato" required>
                        <% for ( let i = 0; i < contratos.length; i++) { %>
                          <% if (contratos[i].id == propiedad.contrato_id) { %>
                              <option value="<%=contratos[i].id%>" selected>
                                  <%=contratos[i].nombre%>
                              </option>

                          <% } else { %> 
                          <option value="<%=contratos[i].id%>">
                              <%=contratos[i].nombre%>
                          </option>
                          <% } %>
                        <% } %>
                      </select>
                    </div>
                    <div>
                      <label for="habitaciones">Habitaciones:</label>
                      <input type="number" id="habitaciones" name="habitaciones" min="0" value="<%=propiedad.habitaciones%>" placeholder="<%=propiedad.habitaciones%>">
                    </div>
                    <div>
                      <label for="baños">Baños:</label>
                      <input type="number" id="baños" name="banos" min="0" value="<%=propiedad.banos%>" placeholder="<%=propiedad.banos%>">
                    </div>
                    <div>
                      <label for="m2">M2:</label>
                      <input type="number" id="m2" name="m2" min="0" value="<%=propiedad.m2%>" placeholder="<%=propiedad.m2%>">
                    </div>
                    <div>
                      <label for="precio">Precio:</label>
                      <input type="number" id="precio" name="precio" min="0" value="<%=propiedad.precio%>" placeholder="<%=propiedad.precio%>">
                    </div>
                    <div>
                      <label for="direccion">Dirección:</label>
                      <input id="direccion" name="direccion" value="<%=propiedad.direccion%>" maxlength="50">
                    </div>
                    <div>
                      <label for="descripcion">Descripción:</label>
                      <input id="descripcion" name="descripcion" maxlength="200" value="<%=propiedad.descripcion%>" placeholder="<%=propiedad.descripcion%>">
                    </div>
                    <div>
                      <button type="submit" name="accion" value="editar">ACTUALIZAR</button>
                    </div>
                  </form>
                  

        </div>
    </section>

    <%- include('../partials/footer') %>
    
</body>
</html>