<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="/images/grupoluna.ico">
    <title>Panel de Control</title>
    <link rel="stylesheet" href="/stylesheets/panel.css">
</head>
<body>

  <header>
    <img src="/images/logoinmo.png" alt="">
    <a href="./editarusuario">EDITAR ADMINISTRADOR</a>
    <p>Hola, administrador</p>
  </header>

  <h2>PROPIEDADES</h2>

  <table class="tabla">
    <thead>
      <tr class="info espaciado">
        <th>Código</th>
        <th>Inmueble</th>
        <th>Dirección</th>        
        <th>Contrato</th>
        <th>Tipo</th>
        <th>Habitaciones</th>
        <th>Baños</th>
        <th>M2</th>
        <th>Precio</th>
        <th colspan="2"><a href="/agregar">Agregar</a></th>
      </tr>
    </thead>
    <% if(propiedades != undefined){ %>
      <% for (let i = 0; i < propiedades.length; i++){ %>
        <tbody>
          <tr class="fila espaciado">
            <td><%= propiedades[i].id %></td>
            <td><%= propiedades[i].nombre %></td>            
            <td><%= propiedades[i].direccion %></td> 
            <td><%= propiedades[i].contrato_id %></td>                   
            <td><%= propiedades[i].tipo.nombre %></td>
            <td><%= propiedades[i].habitaciones %></td>
            <td><%= propiedades[i].banos %></td>
            <td><%= propiedades[i].m2 %></td>
            <td><%= propiedades[i].precio %></td>
            <td><a href="/editar/<%= propiedades[i].id %>">Editar</a></td>
            <td><a href="/borrar/<%= propiedades[i].id %>">Borrar</a></td>
          </tr>
        </tbody>
      </a>
      <% } %>
  <% } %>
  </table>
     
  <%- include('../partials/footer') %>

</body>
</html>