<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="/images/grupoluna.ico">
    <title>Propiedad</title>
    <link rel="stylesheet" href="/stylesheets/propiedad.css">
</head>
<body>

    <%- include('../partials/header') %>

    <section class="propiedad">
        <div class="container">
            <div class="img_container">
                <img  src="/images/interior2.jpg" alt="" class="main_img">
            </div>
            <div class="thumbnail_container">
                <img src="/images/interior2.jpg" alt="" class="thumbnail active">
                <img src="/images/interior1.jpg" alt="" class="thumbnail">
                <img src="/images/interior3.jpg" alt="" class="thumbnail">
                <img src="/images/interior4.jpg" alt="" class="thumbnail">
            </div>
        </div>
        <div class="container_informacion">
            <div class="titulo">
                <h2>#<%=propiedad.id%></h2>
                <h2><%=propiedad.nombre%></h2>
            </div>
            <div class="informacion">
                <div class="info">
                    <img class="icono" src="/images/direc.png" alt="">
                    <p><%=propiedad.direccion%></p>
                </div>
                <div class="info">
                    <img class="icono" src="/images/bed.png" alt="">
                    <p><%=propiedad.habitaciones%></p>
                </div>
                <div class="info">
                    <img class="icono" src="/images/baño.png" alt="">
                    <p><%=propiedad.banos%></p>
                </div>
                <div class="info"> 
                    <img class="icono" src="/images/m2.png" alt="">
                    <p><%=propiedad.m2%></p>
                </div>
            </div>
            <p>
                <%=propiedad.descripcion%>
            </p>
            <div class="precio">
                <h3>
                    US$
                </h3>
                <h3>
                    <%=propiedad.precio%>
                </h3>
            </div>
            <!-- <h2><%=propiedad.nombre%></h2>
            <h3>$<%=propiedad.precio%></h3>            
            <h3 style="text-transform: uppercase"><%=propiedad.tipo.nombre%></h3>
            <p>Habitaciones: <%=propiedad.habitaciones%></p>            
            <p>Baños: <%=propiedad.banos%></p>
            <p>M2: <%=propiedad.m2%></p>
            <p>
                <%=propiedad.descripcion%>
            </p> -->
        </div>
    </section>

    <%- include('../partials/footer') %>

    <script src="/javascripts/main.js"></script>
    
</body>
</html>